## Ignore list for MPLAB X files
/fw/build/*
/fw/debug/*
/fw/dist/*
/fw/nbproject/private/*
/fw/nbproject/Makefile-*
/fw/nbproject/Package-*

### Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

## Local-only notes
notes.txt
